body{
  background-image: url(sup\ \(5\).jpg).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #c18e51;
    border-radius: 4px;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button[type="submit"] {
    font-size: 18px;
    color: #fff;
    background-color: #c18e51;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #a6753a;
  }